.site-nav {margin-bottom: 40px; }
.site-nav ul { margin: 0; }
.site-nav li a { color: rgb(136,136,136); }
.site-nav li a:hover { color: rgb(45,166,222); }
.site-nav li + li { border-left: 1px solid rgb(239,239,239); }

body {
	font-size: 2vmax;
	line-height: 3vmax;
}

h1 {
	font-size: 200%;
	margin-bottom: 4vmax;
	text-align: center;
}
h2, h3, p { margin-bottom: 2vmax; }
h2 { font-size: 150%; }
h3 { font-size: 120%; }

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

aside.night-toggle {
	background-color: rgb(38,38,38);
	border-radius: 12px;
	cursor: pointer;
	height: 24px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 24px;
}
body, aside.night-toggle, .blog-post, .blog, .post-content pre, .post-content code, .post-content hr,  .post-content blockquote { transition:all .6s ; }
body.night aside.night-toggle { background-color: rgb(192,177,169); }
body.night {
	background-color: rgb(59,57,56);
	color: rgb(192,177,169);
}
body.night .blog-post { color: rgb(192,177,169); }
body.night .post-content pre, body.night .post-content code, body.night .post-content hr { background-color: rgb(83,79,76); }
body.night .post-content blockquote { border-left: 2px solid rgb(83,79,76); }